/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.gallery > li > a > img{
  width: 360px;
  height: 200px;
}

.gallery > li {
  border: 1px solid black;
  border-radius: 4px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-info {
  display: flex;
  justify-content: space-around;
}

span {
  font-weight: 600;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 32px auto 32px auto;
}

input {
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.5);
padding-left: 20px;
margin-right: 8px;
width: 272px;
height: 40px;
background-color: #fff;
}

button {
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.visible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}